
header{
    background-color: blue;
    margin-top: 1rem;
    border: 1rem;
    padding: 1rem;
}
.nav{
   
    display: flex;
    align-items: center;
    margin: -1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

}
.nav_logo img{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    width: 111px;
    height: 111px;
    margin: 2rem;
    padding: 1rem; 

}
.bienvenida{
    font-family: 'Titillium web';
   
}

.titulocamisetas{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    display: flex;
    flex-direction: center;
}
main{
    background-image: url(https://i.pinimg.com/originals/b9/f5/fe/b9f5fea7ababb33663c99f054b4fa8ce.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    footer{
        background-color: blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
    }